/* ************************************************************************************************
                Categories Page Styles
************************************************************************************************ */
.content_scene_cat
{
    line-height: 19px;

    margin: 0 0 20px 0; 

    color: #d7d7d7;
}
.content_scene_cat .content_scene_cat_bg
{
    padding: 0;
}
.content_scene_cat .content_scene_cat_bg .cat_desc
{
    position: absolute;
    z-index: 2;
    top: 0;

    padding: 40px;
}
@media (max-width: 999px)
{
    .content_scene_cat .content_scene_cat_bg .cat_desc
    {
        padding: 20px;
    }
}
@media (max-width: 767px)
{
    .content_scene_cat .content_scene_cat_bg .cat_desc
    {
        display: none;
    }
}
.content_scene_cat .content_scene_cat_bg p
{
    margin-bottom: 0;
}
.content_scene_cat .content_scene_cat_bg a
{
    color: white;
}
.content_scene_cat .content_scene_cat_bg a:hover
{
    text-decoration: underline;
}
.content_scene_cat .content_scene_cat_bg .content_scene
{
    color: #777;
}
.content_scene_cat .content_scene_cat_bg .content_scene a
{
    color: #777;
}
.content_scene_cat .content_scene_cat_bg .content_scene a:hover
{
    color: #515151;
}

.cat_desc_container
{
    margin-bottom: 20px; 
    padding: 15px;

    border: 1px solid #ddd;
}
@media (max-width: 999px)
{
    .cat_desc_container
    {
        padding: 10px;
    }
}

/*==== NEW ================================================================== */
div#center_column ul.product_list > li div.product-container > div
{
    display: inline-block;
    float: none;
}
div#center_column ul.product_list > li div.product-container > div.top-block
{
    margin-bottom: 10px;
}
div#center_column ul.product_list > li div.product-container > div.right-block
{
    top: 30px;

    float: left;
}
div#center_column ul.product_list > li div.feature-10
{
    top: -10px;

    margin-bottom: 0 !important;
}
div#center_column ul.product_list > li div.product-container > div h2
{
    margin-top: 10px;
    margin-bottom: 5px;
}
div#center_column ul.product_list > li div.product-container > div h2 a
{
    font-size: 23px;

    text-transform: uppercase;
}
p.free-shipping
{
    font-size: 12px;

    margin-top: 3px;

    text-transform: uppercase;
}
.category-65 .button.ajax_add_to_cart_button.btn,
.category-packs-especial-navidad .button.ajax_add_to_cart_button.btn {
	border-color: #af2836 !important;
	background: #af2836 !important;
}
.category-65 .button.ajax_add_to_cart_button.btn:hover,
.category-packs-especial-navidad .button.ajax_add_to_cart_button.btn:hover {
	background: #fff !important;
}
.category-65 .product_list.grid.row,
.category-packs-especial-navidad .product_list.grid.row {
    margin-top: 0!important;
}
@media (max-width: 1319px)
{
    div#center_column ul.product_list > li div.product-container > div.right-block
    {
        top: 0;
    }
}
@media (max-width: 999px)
{
    div#center_column ul.product_list > li div.product-container > div.right-block
    {
        float: left;
    }
}
@media(max-width:767px) {
    div#center_column ul.product_list > li div.product-container > div
    {
        float: left;
    }
    div#center_column ul.product_list > li div.product-container > div h2 a
    {
        font-size: 18px;
        text-transform: initial;
    }
    div#center_column ul.product_list > li div.product-container .button.ajax_add_to_cart_button {
        display: block;
        text-align: center;
        margin-top: 1rem;
    }
}

/*==== /NEW ================================================================== */

/* ************************************************************************************************
                  Sub Categories Styles
************************************************************************************************ */
#center_column h2.product-name-container
{
    height: auto;
}
#subcategories p.subcategory-heading
{
    font: 12px/14px 'Open Sans', sans-serif;

    margin-top: 0; 
    margin-bottom: 20px;
    padding: 6px 5px 10px 0;

    text-transform: uppercase;

    color: #555454;
    border-bottom: 1px solid #ddd;
}
#subcategories ul
{
    margin: 0 0 0 -20px;
}
#subcategories ul li
{
    float: left;

    width: 72px;
    margin: 0 0 20px 20px;

    text-align: center;
}
@media (min-width: 768px) and (max-width: 999px)
{
    #subcategories ul li
    {
        width: 91px;
    }
}
@media (min-width: 1000px) and (max-width: 1319px)
{
    #subcategories ul li
    {
        width: 106px;
    }
}
@media (min-width: 1320px)
{
    #subcategories ul li
    {
        width: 124px;
    }
}
#subcategories ul li h5
{
    line-height: 20px;

    overflow: hidden;

    height: 20px;
    margin-bottom: 0;
}
#subcategories ul li .subcategory-image a
{
    display: block;

    border: 1px solid #ddd;
}
#subcategories ul li .subcategory-image a img
{
    max-width: 100%;

    vertical-align: top;
}
#subcategories ul li .cat_desc
{
    display: none;
}

/************************************/
/* Categoría fuera del product list */
/************************************/

.cat_desc_like_product {
    text-align: center;
}

.cat_desc_like_product h1 {
    font-size: 23px;
}

.product_list {
    /*visibility: hidden;*/
}

@media (min-width: 480px){
  .cat_desc_like_product {
    position: absolute!important;
  }
}